<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.gongsaeng.mapper.AdminMapper">

	<!-- member.jsp -->
	<!-- 회원목록(신고수 포함) 조회 -->
	<select id="selectMemberList" resultType="member">
		SELECT member.*, reportCount 
		FROM member left OUTER JOIN ( SELECT member_id, COUNT(review_idx) AS reportCount
			 FROM report
			 GROUP BY member_id) reportCount
		ON member.member_id = reportCount.member_id
		ORDER BY member_date DESC
	</select>
	
	<!--필터링 회원목록 조회 -->
	<select id="selectMemberFilterList" resultType="member">
		SELECT member.*, reportCount 
		FROM member left OUTER JOIN ( SELECT member_id, COUNT(review_idx) AS reportCount
			 FROM report
			 GROUP BY member_id) reportCount
		ON member.member_id = reportCount.member_id
		<choose>
			<when test="member_status.equals('1')">
				WHERE member_status = #{member_status}
			</when>
		
		</choose>
		ORDER BY member_date DESC
	</select>
	
	
	
	<!-- member_detail.jsp -->
	<!-- 회원정보 조회 -->
	<select id="selectMember" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id};
	</select>
	
	<!-- 계좌정보 조회 -->
	<select id="selectAccount" resultType="account">
		SELECT *
		FROM account
		WHERE member_id = #{member_id};
	</select>
	
	<!-- (예약)결제수 조회 -->
	<select id="selectPayCount" resultType="payment">
		<![CDATA[
			SELECT COUNT(pay_num) AS 'classRes'
				 , (SELECT COUNT(pay_num) FROM payment p , class c WHERE (p.class_idx = c.class_idx AND c.class_category = 2) AND p.member_id = #{member_id}) AS 'oneDayRes'
				 , (SELECT COUNT(pay_num) FROM payment p , class c WHERE (p.class_idx = c.class_idx AND c.class_category = 1) AND p.member_id = #{member_id}) AS 'regularRes'
				 , (SELECT COUNT(pay_num) FROM payment p WHERE (pay_date >= (last_day(now() - INTERVAL 1 month) + INTERVAL 1 DAY)
																				AND pay_date <= last_day(now())) 
				 															AND p.member_id = #{member_id}) AS 'classMonthRes'
				 , (SELECT COUNT(pay_num) FROM payment p , class c WHERE (p.class_idx = c.class_idx AND c.class_category = 2) 
				 															AND (pay_date >= (last_day(now() - INTERVAL 1 month) + INTERVAL 1 DAY)
																				AND pay_date <= last_day(now())) 	 															
				 															AND p.member_id = #{member_id}) AS 'oneDayMonthRes'
				 , (SELECT COUNT(pay_num) FROM payment p , class c WHERE (p.class_idx = c.class_idx AND c.class_category = 1) 
				 															AND (pay_date >= (last_day(now() - INTERVAL 1 month) + INTERVAL 1 DAY)
																				AND pay_date <= last_day(now())) 
				 															AND p.member_id = #{member_id}) AS 'regularMonthRes'
			FROM payment
			WHERE member_id = #{member_id};
		]]>	
	</select>
	
	<!-- 리뷰수 조회 -->
	<!--
	  'reviewTotal' - 회원이 남긴 총리뷰수 
	  'reviewMonth' -회원이 남긴 이번달 리뷰수
	  'reviewReport' - 신고당한 리뷰수 
	-->
	<select id="selectReviewCount" resultType="review">
		<![CDATA[
			SELECT COUNT(review_idx) AS 'reviewTotal'
			,(SELECT COUNT(review_idx)
			  FROM review
			  WHERE (review_regdate >= (last_day(now() - INTERVAL 1 month) + INTERVAL 1 DAY)
					AND review_regdate <= last_day(now())) AND member_id = #{member_id}) AS 'reviewMonth'
			,(SELECT COUNT(report_idx)
			  FROM report, review  
			  WHERE report.review_idx = review.review_idx AND review.member_id = #{member_id} ) AS 'reviewReport' 
			FROM review 
			WHERE member_id = #{member_id};
		]]>	
	</select>
	
	<!-- 사업체 조회 -->
	<select id="selectCompany" resultType="company">
		SELECT *
		FROM company
		WHERE member_id = #{member_id};
	</select>
	
	<!-- 클래스등록수 조회 -->
	<select id="selectClassCount" resultType="class">
		SELECT COUNT(class_idx) AS 'totalClass'
		, (SELECT COUNT(class_category) FROM class WHERE class_category = 2) AS 'oneDayClass'
		, (SELECT COUNT(class_category) FROM class WHERE class_category = 1) AS 'regularClass'
		FROM class
		WHERE member_id = #{member_id};
	</select>
	
	<!-- reservation_class.jsp -->
	<!-- 특정회원의 클래스 결제(예약)상세 내역 -->
	<select id="selectClassPayList" resultType="payment">
		SELECT *
		FROM payment
		WHERE member_id = #{member_id};
	</select>
</mapper>