<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gongsaeng.mapper.CartMapper">

	<!-- 장바구니에 물건넣기 -->
<!-- 	<insert id="insertCart"> -->
<!-- 		INSERT -->
<!-- 		INTO cart -->
<!-- 		VALUES( -->
<!-- 			null  -->
<!-- 			, #{member_id} -->
<!-- 			, #{class_idx} -->
<!-- 			, #{res_date} -->
<!-- 			, #{res_person} -->
<!-- 		); -->
<!-- 	</insert> -->
	
	<!-- 장바구니 찾기 (findCart) -->
<!-- 	<select id="findCart" resultType="cart"> -->
<!-- 		SELECT * -->
<!-- 		FROM cart -->
<!-- 		WHERE class_idx = #{class_idx} AND -->
<!-- 			  member_id = #{member_id} AND -->
<!-- 			  date = #{date} -->
<!-- 	</select> -->
	
<!-- 	<update id="cartPlus"> -->
<!-- 		UPDATE cart -->
<!-- 		SET res_person = res_person + res_person -->
<!-- 		WHERE cart_idx = #{cart_idx} -->
<!-- 	</update> -->
	
	<!-- 장바구니에 물건삭제 -->
	<delete id="deletCart">
		DELETE 
		FROM cart
		WHERE cart_idx = #{cart_idx}
	</delete>
	
	<!-- 장바구니 조회하기 -->
	<select id="cartList" resultSets="cartList">
		SELECT c.member_id, c.cart_idx, c.class_idx, c.res_member_count, c.res_visit_date,
	       	   c.res_visit_time, cl.class_title, cl.class_pic1, cl.class_price
		FROM cart c
		JOIN class cl ON c.class_idx = cl.class_idx
		WHERE c.member_id = #{member_id}
	</select>
	
	<!-- 장바구니 수량수정 -->
	<update id="updateCart">
		UPDATE cart
		SET res_member_count = #{res_person}
		WHERE cart_idx = #{cart_idx}
	</update>
	
	
	
</mapper>