<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gongsaeng.mapper.CartMapper">

	<!-- 장바구니에 물건넣기 -->
	<insert id="insertCart">
		INSERT
		INTO cart
		VALUES(
			#{cart_idx} 
			, #{member_id}
			, #{class_idx}
			<!-- 추후에 컬럼추가된거 적기 -->
		);
	</insert>
	
	<!-- 장바구니에 물건삭제 -->
	<delete id="deletCart">
		DELETE 
		FROM cart
		WHERE cart_idx = #{cart_idx}
	</delete>
	
	<!-- 장바구니 조회하기 -->
	<select id="allCartList">
		SELECT *
		FROM cart
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 장바구니 수량수정 -->
	<update id="updateCart">
		UPDATE cart
		SET resPerson = #{resPerson}
		WHERE cart_idx = #{cart_idx}
	</update>
	
</mapper>