<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gongsaeng.mapper.ClassMapper">
	<!-- 클래스 등록 작업 -->
	<insert id="insertClass">
		INSERT
		INTO class
		VALUES (
			#{class_idx},
			#{member_id},		
			#{class_title},		
			#{class_category},		
			#{class_times},		
			#{class_price},		
			now(),		
			#{class_start_time},		
			#{class_end_time},		
			#{class_start_date},		
			#{class_end_date},		
			#{class_day},		
			#{class_member_count},		
			#{class_pic1},	 	
			#{class_pic2},	 	
			#{class_pic3},	 	
			#{class_post_code},		
			#{class_address1},		
			#{class_address2},		
			#{class_introduction},		
			#{class_curriculum1},		
			#{class_curriculum2},		
			#{class_curriculum3},		
			#{class_curriculum_detail1},		
			#{class_curriculum_detail2},		
			#{class_curriculum_detail3},		
			#{class_main_category},		
			#{class_sub_category},		
			#{class_offering},		
			#{class_caution},		
			#{class_tag},		
			#{class_question1},		
			#{class_answer1},		
			#{class_question2},		
			#{class_answer2},		
			#{class_question3},		
			#{class_answer3}		
		) 
	</insert>
	
	
	<!-- 클래스 내역 출력 -->
	<select id="selectClassList" resultType="gclass">
	    SELECT *
	    FROM class
	    WHERE member_id = #{member_id}
	    ORDER BY class_start_date
	</select>
	
	<!-- 클래스 일정 출력(캘린더) -->
	<select id="selectClassScheduleByMemberId" resultType="gclass">
		SELECT *
		FROM class
		WHERE member_id = #{member_id}
	</select>
	
			
	<!-- 클래스 내역 출력(수정페이지) -->
	<select id="selectClassDetail" resultType="map">
		SELECT *
		FROM class
		WHERE class_idx = #{classIdx}
	</select>
	
	<!-- 클래스 수정 파일 삭제 -->
	<update id="updateClassFile">
		UPDATE class
		SET
			class_pic1 = CASE WHEN class_pic1 = #{class_pic1} THEN '' ELSE class_pic1 END,
			class_pic2 = CASE WHEN class_pic2 = #{class_pic2} THEN '' ELSE class_pic2 END,
			class_pic3 = CASE WHEN class_pic3 = #{class_pic3} THEN '' ELSE class_pic3 END,
			class_curriculum1 = CASE WHEN class_curriculum1 = #{class_curriculum1} THEN '' ELSE class_curriculum1 END,
			class_curriculum2 = CASE WHEN class_curriculum2 = #{class_curriculum2} THEN '' ELSE class_curriculum2 END,
			class_curriculum3 = CASE WHEN class_curriculum3 = #{class_curriculum3} THEN '' ELSE class_curriculum3 END
		WHERE 
			class_idx = #{classIdx}
	</update>
	
	<!-- 글 수정(UPDATE) -->
	<update id="updateClass">
		UPDATE class
		SET
			class_title = #{class_title}
			,class_category = #{class_category}		
			,class_times = #{class_times}		
			,class_price = #{class_price}		
			,class_date = now()		
			,class_start_time = #{class_start_time}		
			,class_end_time = #{class_end_time}		
			,class_start_date = #{class_start_date}		
			,class_end_date = #{class_end_date}		
			,class_day = #{class_day}		
			,class_member_count = #{class_member_count}		
			,class_post_code = #{class_post_code}		
			,class_address1 = #{class_address1}		
			,class_address2 = #{class_address2}		
			,class_introduction = #{class_introduction}		
			,class_curriculum_detail1 = #{class_curriculum_detail1}		
			,class_curriculum_detail2 = #{class_curriculum_detail2}		
			,class_curriculum_detail3 = #{class_curriculum_detail3}		
			,class_main_category = #{class_main_category}		
			,class_sub_category = #{class_sub_category}		
			,class_offering = #{class_offering}		
			,class_caution = #{class_caution}		
			,class_tag = #{class_tag}		
			,class_question1 = #{class_question1}		
			,class_answer1 = #{class_answer1}		
			,class_question2 = #{class_question2}		
			,class_answer2 = #{class_answer2}		
			,class_question3 = #{class_question3}		
			,class_answer3 = #{class_answer3}			
			
			<if test="class_pic1 != null and !class_pic1.equals('')">
				, class_pic1 = #{class_pic1}
			</if>
			<if test="class_pic2 != null and !class_pic2.equals('')">
				, class_pic2 = #{class_pic2}
			</if>
			<if test="class_pic3 != null and !class_pic3.equals('')">			
				, class_pic3 = #{class_pic3}
			</if>
			<if test="class_curriculum1 != null and !class_curriculum1.equals('')">			
				, class_curriculum1 = #{class_curriculum1}
			</if>
			<if test="class_curriculum2 != null and !class_curriculum2.equals('')">			
				, class_curriculum2 = #{class_curriculum2}
			</if>
			<if test="class_curriculum3 != null and !class_curriculum3.equals('')">			
				, class_curriculum3 = #{class_curriculum3}
			</if>
		
		WHERE 
			class_idx = #{class_idx}
	</update>
	
	
	<!-- 클래스 삭제 -->
	<delete id="deleteClass">
		DELETE
		FROM class
		WHERE class_idx = #{class_idx}
	</delete>
	
	<!-- 클래스 등록 시 주소 조회 -->
	<select id="getAddressBySid" resultType="company">
		SELECT com_post_code,com_address1,com_address2
		FROM company
		WHERE member_id = #{sId}
	</select>
	
	<!-- 클래스 내역 페이징 처리 -->
	<select id="selectClassListCount" resultType="int">
		SELECT COUNT(*)
		FROM class
		WHERE member_id = #{sId}
	</select>
	
	<!-- 목록조회 -->
	<select id="selectClassPaging" resultType="gclass">
	    SELECT *
	    FROM class
	    WHERE member_id = #{sId}
	    ORDER BY class_start_date
	</select>



	
</mapper>