<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.gongsaeng.mapper.MemberMapper">

	<!-- 일반회원가입 [INSERT] -->
	<insert id="insertMember">
		INSERT 
		INTO member
		VALUES (
			#{member_id}
			, #{member_passwd}
			, #{member_nick}
			<choose>
				<when test="member_email == null and member_email.equals('')">
					, CONCAT(#{member_email1}, '@',#{member_email2})
				</when>
				<otherwise>
					, #{member_email}
				</otherwise>
			</choose>
			, #{member_name}
			, #{member_birthday}
			, #{member_gender}
			, #{member_phone}
			, #{member_img}
			, 1
			, 1
			, now()
			, #{member_alert_status}
			)
	</insert>
	
	
	<!-- 회원 아이디정보 조회 select -->
	<select id="selectMember"  resultType="member">
		SELECT *
		FROM member
		<where>
			<if test="member_id != null">
				and member_id = #{member_id}
		 	</if>
		 	
			<if test="member_id == null and member_nick != null">
				and member_nick = #{member_nick}
		 	</if>
		 	
			<if test="member_id == null and member_email1 != null">
				and member_email = CONCAT(#{member_email1},'@',#{member_email2})
		 	</if>
			<if test="member_id == null and member_phone != null">
				and member_phone = #{member_phone}
		 	</if>
				and member_status = 1
		</where>
	</select>
	
	<update id="updateWithdrawMember">
		UPDATE member
	    SET
	         member_status=3
	         , member_reg_date = now()
	    WHERE member_id = #{member_id}
			
	</update>
	
	<select id="selectValidMember" resultType="member">
		SELECT * 
		FROM member
		WHERE member_email = #{member_email}
			AND member_name = #{member_name}
			AND member_status = '1'
	</select>
	
	<select id="selectMailAuthInfo" resultType="mailAuthInfo">
		SELECT *
		FROM mail_auth
		<choose>
			<when test="param.indexOf('@') >= 0">
				WHERE mail_auth_email = #{param}
			</when>
			<otherwise>
				WHERE member_id = #{param}
			</otherwise>
		</choose>
	</select>
	
	<insert id="insertMailAuthInfo">
		INSERT
		INTO mail_auth
		<choose>
			<when test="param.indexOf('@') >= 0">
				VALUES (null, null, #{mail_auth_code},#{param})
			</when>
			<otherwise>
				VALUES (null,#{param}, #{mail_auth_code}, null)
			</otherwise>
		</choose>
	</insert>
	
	<update id="updateMailAuthInfo">
		UPDATE mail_auth
		SET mail_auth_code = #{mail_auth_code}
		<choose>
			<when test="param.indexOf('@') >= 0">
				WHERE mail_auth_email = #{param}
			</when>
			<otherwise>
				WHERE member_id = #{param}
			</otherwise>
		</choose>
	</update>
	
	<delete id="deleteMailAuthInfo">
		DELETE FROM mail_auth		
		<choose>
			<when test="param.indexOf('@') >= 0">
				WHERE mail_auth_email = #{param}
			</when>
			<otherwise>
				WHERE member_id = #{param}
			</otherwise>
		</choose>
	</delete>

	<select id="selectVailidMailAuthInfo" resultType="mailAuthInfo">
		SELECT *
		FROM mail_auth
		WHERE member_id = #{member_id}
		AND mail_auth_code = #{mail_auth_code}
	</select>

	
	<update id="updatePasswd">
		UPDATE member
		SET member_passwd = #{member_passwd}
		WHERE member_id = #{member_id}
	</update>
	
	<select id="selectIdAuth" resultType="member">
		SELECT *
		FROM member
		WHERE member_email = #{mail_auth_email}
	</select>
	
	<select id="selectMemberForValid" resultType="member">
		SELECT *
		FROM member
		WHERE member_email = #{member_email}
		OR member_phone = #{member_phone}
	</select>
	
	
</mapper>