<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.gongsaeng.mapper.MypageMapper">

	<select id="selectMemberInfo" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<update id="updateMemberInfo">
		UPDATE member
		SET 
		<if test="!member_passwd.equals('')">
			member_passwd = #{member_passwd}
		</if>
			,member_nick = 	#{member_nick}
			,member_name = 	#{member_name}
			,member_email = #{member_email}
			,member_phone = #{member_phone}
		<if test="!member_img.equals('')">
			,member_img = #{member_img}
		</if>
			
		WHERE member_id = #{member_id}
	</update>
	
	<update id="updateMemberStatus">
		UPDATE member
		SET member_status = '3'
		WHERE member_id = #{member_id}
	</update>


</mapper>