<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gongsaeng.mapper.PaymentMapper">

	<!-- 상세페이지에서 결제하기버튼 눌렀을때 출력되는 리스트 -->
	<select id="classList" resultType="gclass">
		SELECT *
		FROM class
		WHERE class_idx = #{class_idx}
	</select>
	
	<!-- 쿠폰리스트 출력 -->
	<select id="couponListSelect" resultType="coupon">
		SELECT *
		FROM coupon
		WHERE member_id = #{member_id}
	</select>
	
	<!-- account 테이블, cash테이블 조인해서 모든정보 가지고오기 -->
	<select id="allListSelect" resultType="cash">
		SELECT  a.member_id, sum(c.cash_value)  as cash_value
	    FROM account a
	    LEFT JOIN cash c  ON c.member_id = a.member_id
	    WHERE a.member_id = #{member_id}
	    GROUP BY a.member_id
	</select>
	
	<!-- 결제정보 인서트 -->
	<insert id="insertPayment">
		INSERT
		INTO payment
		VALUES (
			  #{payment.pay_num}
			, #{payment.res_num}
			, #{payment.com_idx}
			, #{payment.class_idx}
			, #{sId}
			, #{payment.payment}
			, #{payment.discount_payment}
			, #{payment.pay_method}
			, now()
			, #{payment.pay_card_co}
			, 1
			, 1 
			, 1
			, 1 
			, #{payment.res_visit_date}
			, #{payment.res_visit_time}
			, #{payment.res_member_count}
			, null 
			, null
		)
	</insert>
	
	<!-- 충전페이 인서트 -->
	<insert id="insertOPay">
		INSERT
		INTO cash
		VALUES(
			null
			, #{id}
			, #{cash_value}
			, 1
			, 1
			, now()
		)
	</insert>
	
	<!-- ==========================paymentPro============================  -->
	<!-- class_idx를 이용한 반장 memger_id 찾기 -->
	<select id="selectMember_id" resultType="String">
		SELECT member_id
		FROM class
		WHERE class_idx = #{class_idx}
	</select>
	<!-- 반장 memger_id 를 이용한 com_idx찾기 -->
	<select id="selectCom_idx" resultType="map">
		SELECT *
		FROM company
		WHERE member_id = #{member_id}
	</select>
	
	
</mapper>