<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gongsaeng.mapper.ProductMapper">
	<!-- 클래스 정보 -->
	<select id="selectClassInfo" resultType="gclass">
		SELECT *
		FROM class
		WHERE class_idx = #{class_idx}
	</select>
	
	<!-- 업체정보 -->
	<select id="selectCompanyInfo" resultType="company"> 
		SELECT *
		FROM company
		WHERE member_id IN (
		    SELECT member_id
		    FROM member
		    WHERE member_category = 2
		) AND member_id = #{member_id}
	</select>
	
	<!-- 해당 클래스 리뷰 들고오기 -->
	<select id="selectReviewInfo" resultType="review">
		SELECT review_idx, r.member_id, review_content, review_score, pay_num, class_idx, review_regdate, review_img_1, review_img_2, review_img_3, review_status, review_kind, review_detail, review_cheap, review_explanation, review_interior, review_trendy, review_large, review_meeting, review_comfortable, review_parking, review_clean_toilet, review_etc_fast, review_no_keyword, review_like, review_like_count,  m.member_nick, m.member_img 
		FROM review r
		JOIN member m ON m.member_id = r.member_id
		WHERE class_idx = #{class_idx}
	</select>
	
	<select id="selectBookmark" resultType="bookmark">
		SELECT * 
		FROM bookmark
		WHERE member_id = #{sId}
		AND class_idx = #{class_idx}
	</select>
	
	<select id="findCart" resultType="cart">
        SELECT *
        FROM cart
        WHERE class_idx = #{class_idx} AND
              member_id = #{member_id}
              
    </select>
    
    <select id="selectResMemberCount" resultType="payment">
    	SELECT res_member_count
    	FROM payment
    	WHERE class_idx = #{class_idx}
    </select>
    
    <select id="selectIssuedCoupon" resultType="map">
    	SELECT * 
    	FROM coupon
    	WHERE member_id = #{sId}
    	AND com_idx = #{comIdx}
    </select>
    
    <select id="selectFollowingStatus" resultType="map">
    	SELECT * 
    	FROM following
    	WHERE member_id = #{sId}
    	AND com_idx = #{comIdx}
    </select>
    
    <insert id="insertCoupon">
    	INSERT INTO coupon
    	VALUES(
    		null
    		,'반장님 팔로우 쿠폰'
    		,#{sId}
    		,#{comIdx}
    		,2000
    		,now()
    		,DATE_ADD(NOW(), INTERVAL 30 DAY)
    		,1
    		,15000
    	)
    </insert>
    
    <insert id="insertFollowing">
    	INSERT INTO following		
    	VALUES(
    		null
    		,#{sId}
    		,#{comIdx}
    	)
    </insert>


	<select id="selectCart" resultType="cart">
        SELECT *
        FROM cart
        WHERE res_visit_date = #{resVisitDate} AND class_idx = #{classIdx} AND member_id = #{memberId}
    </select>
    
<!--     <insert id="insertCart"> -->
<!--         INSERT INTO cart -->
<!--         VALUES ( -->
<!--         null -->
<!--         , #{memberId} -->
<!--         , #{classIdx} -->
<!--         ,#{resVisitDate} -->
<!--         , #{resVisitTime} -->
<!--         , #{resMemberCount}) -->
<!--     </insert> -->
    
    <update id="updateResMemberCount">
        UPDATE cart
        SET res_member_count = res_member_count + #{resMemberCount}
        WHERE res_visit_date = #{resVisitDate} AND class_idx = #{classIdx} AND member_id = #{memberId}
    </update>
    
    
    
    <insert id="insertCartF">
    	INSERT INTO cart
    	VALUES(
			null
			,#{member_id}    	
			,#{class_idx}    	
			,#{res_visit_date}    	
			,#{res_visit_time}    	
			,#{res_member_count}    	
    	)
    </insert>
    
    
    
    
    
   	<insert id="insertBookmark">
		INSERT INTO bookmark
		VALUES (
			null
			,#{sId}
			,#{class_idx}
		)
	</insert>
	
	<delete id="deleteBookmark">
		DELETE FROM bookmark
		WHERE member_id = #{sId}
		AND class_idx = #{class_idx}
	</delete>
</mapper>