@charset "UTF-8";

body {
	margin-top: 20px;
}

h1 {
    text-align: center;

    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: #333;
}

.btn-success{
	color: #333 !important;
    border-color: #333 !important;
}

/* 버튼눌렀을때 */
/* .payment-button:active { */
/*     background-color: gray !important; */
/*     border-color: gray !important; */
/* } */