@charset "UTF-8";
/* .page-head { */
/*     background: #494C53 no-repeat scroll center top / cover; */
/*     color: #FFF; */
/*     position: relative; */
/*     min-height: 100px; */
/* } */

/* 결제하기 버튼 위치 */
#payment {
    margin-top: 20px;
}
/* 삭제하기 버튼 위치*/
#delet {
    position: relative;
    top: -20px;  
}
    
/* 수정하기 버튼위치 */
.move-right {
        position: relative;
        left: 185px;
    }

/* 예약인원수 박스위치*/
#resPerson{
	margin-top: 20px;
}

/* 클래스대표 이미지 */
.img-responsive {
    width: 150px;
    height: 150px;
}

table td {
    vertical-align: middle;
    height: 50px; /* 셀 높이 설정 */
}

table {
    height: 100px; /* 테이블 높이 설정 */
}



body {
	margin-top: 20px;
}

h1 {
    text-align: center;

    padding: 10px;
    margin: 10px;
    font-size: 30px;
/*     color: #333; */
  margin-top: 100px;
  padding: 70px;
}

.btn-success{
	color: #333 !important;
    border-color: #333 !important;
}

.btn-success:active {
    background-color: gray !important;
    border-color: gray !important;
}

/* 제목(장바구니) */
.div_form_header{
  text-align: center;
}

.btn-block {
    display: block;
}
