@charset "UTF-8";

/*커밋오류*/
body {
	margin-top: 20px;
}

h1 {
    text-align: center;

    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: #333;
  margin-top: 100px;
  padding: 70px;
}

.btn-success{
	color: #333 !important;
    border-color: #333 !important;
}

.btn-success:active {
    background-color: gray !important;
    border-color: gray !important;
}

/* 제목(장바구니) */
.div_form_header{
  text-align: center;
}

.btn-block {
    display: block;
}
