@charset "UTF-8";

.bottom  {
    border-top: 1px solid #D1D1D1;
    color: #535353;
}

#header {
  background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
}

.cm_thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    border-radius: 10px; 
    width: 150px; 
    height: 150px;
}

#writeButton {
	margin-bottom: 10px;
}
.h4_community {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
}

.cm_text {
	border-bottom: 0.0625rem solid #D1D1D1;
	font-size: 5px;
}



/* 궁금해요, 함께해요 상세페이지 */

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid #ddd;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

.h6 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.cm_img {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    border-radius: 10px; 
    width: 150px; 
    height: 150px;
}

/* 글쓰기 */

.form-group input, .form-group textarea {
     border: none;
     border-bottom: 1px solid lightgray;
     box-shadow: none;
 }
 .form-group input:focus, .form-group textarea:focus {
     outline: none;
     box-shadow: none;
 }
.btn-container {
    display: flex;
    justify-content: center;
}

.image-upload>input {
    display: none;
}
.image-upload .fa-camera {
    font-size: 1.5em;
    cursor: pointer;
}
.image-preview {
    width: 100%;
    min-height: 100px;
/*     border: 2px solid #dddddd; */
    margin-top: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    color: #CCCCCC;
}
.image-preview_image {
    display: none;
    width: 30%;
}

