@charset "EUC-KR";

body {
    padding-top: 30px;
}

.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
/*     padding: 15px 10px 15px 10px; */
    background-color: #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}


.content-area {
    background-color: #FCFCFC; padding-bottom: 55px;
}

.faq_row {
	width: 1170px;
}

#faq_search {
	    outline: 0;
	    border: 1px solid #000000;
	    width: 90%;
	    height: inherit;
	    color: #333333;
	    font-size: 16px;
	    padding: 5px 15px;
	    border-radius: 3px;
      	}
      	
.bottom  {
    border-top: 1px solid #D1D1D1;
    color: #535353;
}     	
      	
      	
