@charset "EUC-KR";

body {
    padding-top: 30px;
}

.notice_point {
	border: 1px solid #f5f5f5;
	border-radius: 4px;
	padding: 7px 13px;
}

.cs_notice {
   background-color: #000000;
   color: #FFFFFF;
   padding: 0.2em 0.6em 0.2em;
   border: 1px solid #000000;
   border-radius: 3px;
   font-weight: 500;
   font-size: 13px;
   text-transform: uppercase;
	}
.cs_event {
	    background-color: #FFFFFF;
	    color: #000000;
	    padding: 0.2em 0.6em 0.2em;
	    border: 1px solid #000000;
	    border-radius: 3px;
	    font-weight: 500;
	    font-size: 13px;
	    text-transform: uppercase;
	}
	
.bottom  {
    border-top: 1px solid #D1D1D1;
    color: #535353;
}     