@charset "UTF-8";

/* 퍼옴 */

/* 그냥 */
.css-p4ywi4 {
    position: relative;
    flex: 1 1 0%;
    justify-content: space-around;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(85, 89, 105);
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    padding: 0px 4px;
    border-bottom: 3px solid transparent;
}
/* 선택했을때 */
.css-1yi93iz {
    position: relative;
    flex: 1 1 0%;
    justify-content: space-around;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    padding: 0px 4px;
    border-bottom: 3px solid rgb(48, 52, 65);
    font-weight: 700;
    color: rgb(48, 52, 65);
}

/* nav~ */
.css-19vu3z9 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: sticky;
    top: 0px;
}

.css-1m8o79i {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.css-k008qs {
	display: flex;
}

/* ------------------------------------------------- */
.h {
	color: #494C53;
	margin: 10px 20px;
	
}
tr {
	max-width: 200px;
}

.check_week {
	height: 30px;
	text-align: center;
}

td {
	height: 50px;
}

.event_th {
	text-align: center;
}

#check_cal {
	width: 450px;
	height: 350px;
	border: solid 1px;
	border-radius: 5px;
}

.year_month_title {
	display: flex;
}
.nav-button.check_btn{
	background-color: #494C53;
	font-size: 16px;
	
}

.checkBtn_div {
	margin: 20px;
}
.check_month{
	margin: 0 10px;
}
.check_year {
	margin: 0 10px;
}
.check_day {
	font-size: 10px;
	font-weight: 500;
	text-align: left;	
}
.check_table {
	display: flex;
	align-items: flex-end;
}

h3 {
	padding-left: 30px;
}

.check_container {
	display: flex;
	flex-direction: column;
}

.event_container ,.check_container{
	margin-top: 40px; 
}

.event_table{
	text-align: center;
}

.event_td.event_num,.event_td.event_subject,.event_td.event_date {
	vertical-align: middle;
}

.event_num {
	width: 10%;
}

.event_subject {
	width: 70%;
}

.event_date {
	width: 20%;
}