<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스에서 접근할 사용자 정의 클래스 타입에 대한 Alias(별칭) 설정 -->
	<typeAliases>
		<typeAlias type="kr.co.gongsaeng.vo.MemberVO"  alias="member"/>
		<typeAlias type="kr.co.gongsaeng.vo.MailAuthInfoVO"  alias="mailAuthInfo"/>
		<typeAlias type="kr.co.gongsaeng.vo.ReportVO"  alias="report"/>
		<typeAlias type="kr.co.gongsaeng.vo.ReviewVO"  alias="review"/>
		<typeAlias type="kr.co.gongsaeng.vo.CartVO"  alias="cart"/>
		<typeAlias type="kr.co.gongsaeng.vo.CartListVO"  alias="cartList"/>
		<typeAlias type="kr.co.gongsaeng.vo.BoardVO"  alias="board"/>
		<typeAlias type="kr.co.gongsaeng.vo.AccountVO"  alias="account"/>
		<typeAlias type="kr.co.gongsaeng.vo.AdminInfo"  alias="adminInfo"/>
		<typeAlias type="kr.co.gongsaeng.vo.CompanyVO"  alias="company"/>
		<typeAlias type="kr.co.gongsaeng.vo.ClassVO"  alias="class"/>
	</typeAliases>
</configuration>