@charset "UTF-8";
.navbar-brand.title {
	font-size: 25px;
}

.btn.btn_default{
	font-size: 14px;
	height: 30px; 
	padding:5px 10px;
	background-color: #888;
    color: #FFFFFF;
    margin: 10px 1px;
}

/* .class_category_select { */
/* 	display: flex; */
/* 	flex-direction: row; */
/* 	margin: 10px; */
/* } */

/* .class_category_select>select{ */
/* 	border-radius: 5px; */
/* 	border: 1px solid rgb(148, 148, 148);	 */
/* 	height: 30px; */
/* 	margin: 5px; */
/* } */

.member_date {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search_bar_admin {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-body-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search_bar_admin>div {
	margin: 5px;
}
.search_bar_admin>div>select, .search_bar_admin>div>input{
	border-radius: 5px;
	border: 1px solid rgb(148, 148, 148);
}

input[type="search"] {
	width: 200px;
}

.shearch_bar {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
/* --------신고------- */
.report_checkbox {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

/*  ----- main에 적용된 css -------   */
.card {
	text-align: center;
}
.card-header {
	font-size: 18px;
	font-weight: 600;
	color: #494C53;
}
