@charset "UTF-8";
.now_total {
	margin-left: 30px;
	color: white;
	font-size: 27px;
	text-align: center;
}
.now_dateTime {
	margin-top: 10px;
	position: relative;
	top: 5px;
}
.row.row_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.card {
	text-align: center;
}
.card-header {
	font-size: 20px;
	font-weight: 600;
	color: #494C53;
}

.todo_count>a{
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.todo_count {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.todo_count>a:hover {
	background-color: #f0f0f0;
}

.tr_hover:hover{
	border: 1.5px solid #888;
	background-color: #fff;
}

.todo_count>hr{
	width: 80%;
	margin-left : auto;
	margin-right : auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #afb3b8;
}

.more_dashboard {
	display: flex;
	color:  #494C53;
	font-weight: 600;
}
.more_dashboard:hover {
	color:  #fff;
	font-weight: 600;
	background-color: #494C53;
	text-decoration-line: none;
}

.todo_title {
	font-size: 35px;
}
.table_main>th, .table_main>td {
	font-size: 20px;
} 

.card-title {
	font-size: 1.4em;
}