@charset "UTF-8";
.navbar-brand.title {
	font-size: 25px;
}

.btn.detail_btn{
	font-size: 14px;
	height: 30px; 
	padding:5px 10px;
	margin: 0;
}

.class_category_select {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.class_category_select>select{
	border-radius: 5px;
	border: 1px solid rgb(148, 148, 148);	
	height: 30px;
	margin: 5px;
}

.member_category_checkbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 5px;
}
.member_date {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.search_bar_admin {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-body-header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.search_bar_admin>div {
	margin: 5px;
}
.search_bar_admin>div>select, .search_bar_admin>div>input{
	border-radius: 5px;
	border: 1px solid rgb(148, 148, 148);
}

.search_bar_admin>div>select{
	height: 25px;	
}

input[type="search"] {
	width: 200px;
}



/*  ----- main에 적용된 css -------   */
.now_total {
	margin-left: 30px;
	color: white;
	font-size: 20px;
	text-align: center;
}
.now_dateTime {
	margin-top: 10px;
	position: relative;
	top: 10px;
}
.row.row_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.card {
	text-align: center;
}
.card-header {
	font-size: 18px;
	font-weight: 600;
	color: #494C53;
}

.card>hr{
	width: 40%;
	margin-left : auto;
	margin-right : auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #afb3b8;
}

.more_dashboard {
	display: flex;
	color:  #494C53;
	font-weight: 600;
}
.more_dashboard:hover {
	color:  #fff;
	font-weight: 600;
	background-color: #494C53;
	text-decoration-line: none;
}